@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

kotak {
  display: flex;
  justify-content: center;
  background-color: blueviolet;
  width: 500px;
  height: 500px;
}
